# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# macos
.DS_Store
*/.DS_Store
*/*/.DS_Store

# build directories
_builds
*/_builds
*/*/_builds

# install directories
*/*/Install
*/*/_install

# python temps
bin/detail/__pycache__
*.pyc
